:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 50%);
  --black: hsl (0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--yellow);
}
body {
  font-family: "Figtree", sans-serif;
}

.container {
  width: 383px;
  height: 522px;
  background-color: #fff;
  border-radius: 20px;
  margin-inline: auto;
  padding: 24px;
  margin-top: 218px;
  border: solid 1px black;
  box-shadow: 9px 8px black;
}

/* image */
/* image */
/* image */

.logo {
  width: 100%;
  border-radius: 10px;
}

.picture {
  width: 100px;
  height: 100px;
}

/* image */
/* image */
/* image */

.learning {
  background-color: var(--yellow);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 6px;
  width: 80px;
  font-size: 0.875em;
  font-weight: 800;
  margin-top: 24px;
}

.date {
  margin-top: 12px;
  font-size: 0.875em;
  font-weight: 500;
}

h1 {
  margin-top: 12px;
  font-size: 1.5em;
  font-weight: 800;
}

p {
  margin-top: 12px;
  color: var(--gray);
  font-size: 1em;
}

.author {
  margin-top: 24px;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 12px;
}

.picture {
    width: 32px;
    height: 32px;
}
